.h_center {
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

.v_center {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.hv_center, .formula_popup_overlay .formula_popup {
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.img_fit, .formula_popup_overlay .formula_popup .popup_close img, .formula_popup_overlay .formula_popup .formula_nav .dropdown-menu .drop_icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-object-fit: contain; }

.navbar {
  position: fixed;
  top: 0;
  width: calc(100vw - 250px);
  left: 250px; }

.left_panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; }

.content_container {
  width: calc(100vw - 290px);
  margin-top: 20px;
  position: relative;
  left: 270px; }

.formula_popup_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200; }
  .formula_popup_overlay .formula_popup {
    width: 90%;
    height: calc(100vh - 100px);
    background: #fff;
    position: relative;
    z-index: 999;
    padding: 20px;
    overflow: hidden; }
    .formula_popup_overlay .formula_popup .popup_title {
      width: 100%;
      text-align: center;
      font-size: 25px;
      color: #333;
      font-weight: 600; }
    .formula_popup_overlay .formula_popup .popup_close {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer; }
    .formula_popup_overlay .formula_popup .formula_nav {
      position: inherit !important;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #F5F5F5;
      margin-top: 20px;
      -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1); }
      .formula_popup_overlay .formula_popup .formula_nav .dropdown {
        position: inherit;
        margin-right: 20px; }
      .formula_popup_overlay .formula_popup .formula_nav .dropdown-menu {
        width: 100%;
        left: 0px;
        top: 49px;
        border: 0 none;
        border-radius: 0px;
        background: #DDDDDD;
        padding: 0;
        height: 45px;
        line-height: 45px; }
        .formula_popup_overlay .formula_popup .formula_nav .dropdown-menu .dropdown-item {
          display: inline-block;
          width: auto;
          min-width: 10%;
          padding: 0 10px 0 10px; }
          .formula_popup_overlay .formula_popup .formula_nav .dropdown-menu .dropdown-item:hover {
            background: #ccc; }
          .formula_popup_overlay .formula_popup .formula_nav .dropdown-menu .dropdown-item:focus {
            color: #333; }
        .formula_popup_overlay .formula_popup .formula_nav .dropdown-menu .drop_icon {
          width: 18px;
          height: 18px;
          display: inline-block;
          margin-right: 10px;
          position: relative;
          top: -1px; }
    .formula_popup_overlay .formula_popup .formula_content_container {
      width: 100%;
      height: calc(100vh - 350px);
      padding: 20px 0px 0px 0px; }
      .formula_popup_overlay .formula_popup .formula_content_container .formula_function_container {
        width: 20%;
        height: 100%;
        display: inline-block; }
        .formula_popup_overlay .formula_popup .formula_content_container .formula_function_container .ff_block {
          position: static !important;
          overflow-y: auto;
          background: #fff;
          border: #ccc solid 1px;
          width: 100%; }
          .formula_popup_overlay .formula_popup .formula_content_container .formula_function_container .ff_block .formula_function_title {
            width: 100%;
            height: 50px;
            background: #F5F5F5;
            color: #333;
            line-height: 50px;
            padding-left: 20px;
            font-size: 18px; }
          .formula_popup_overlay .formula_popup .formula_content_container .formula_function_container .ff_block .item a {
            font-size: 16px; }
          .formula_popup_overlay .formula_popup .formula_content_container .formula_function_container .ff_block .item .inn_nav {
            font-size: 14px; }
          .formula_popup_overlay .formula_popup .formula_content_container .formula_function_container .ff_block .item .item_active {
            background: #ddd;
            color: #333; }
          .formula_popup_overlay .formula_popup .formula_content_container .formula_function_container .ff_block .item .collapse {
            background: #eee; }
          .formula_popup_overlay .formula_popup .formula_content_container .formula_function_container .ff_block .item .scheduled {
            background-image: url("../img/date_grey.svg"); }
          .formula_popup_overlay .formula_popup .formula_content_container .formula_function_container .ff_block .item .amt {
            background-image: url("../img/amount.svg");
            background-size: 20px auto;
            background-repeat: no-repeat;
            background-position: 20px center; }
          .formula_popup_overlay .formula_popup .formula_content_container .formula_function_container .ff_block .item .currency {
            background-image: url("../img/currency.svg"); }
      .formula_popup_overlay .formula_popup .formula_content_container .formula_builder {
        width: 78%;
        display: inline-block;
        float: right;
        height: 100%;
        background: #fff;
        padding: 20px;
        font-family: courier;
        border: #ccc solid 1px;
        font-size: 16px;
        -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.14);
        box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.14); }
        .formula_popup_overlay .formula_popup .formula_content_container .formula_builder .codeblue {
          color: #1B63D6; }
        .formula_popup_overlay .formula_popup .formula_content_container .formula_builder .codegreen {
          color: #0DA347; }
    .formula_popup_overlay .formula_popup .fomula_btn button {
      float: right; }
