html, body {
  font-family: "basic-sans",sans-serif !important; }

.hv_center, .login_main .login_left .field_container, .login_main .login_right .login_logo {
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.img_fit, .login_main .login_right .login_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-object-fit: contain; }

.box_size {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.login_main {
  width: 100%;
  height: 100%;
  float: left; }
  .login_main .login_left {
    width: 40%;
    float: left;
    height: 100vh; }
    .login_main .login_left .field_container {
      width: 50%;
      position: relative; }
      .login_main .login_left .field_container input {
        width: 100%;
        border: 0 none;
        border-bottom: #ccc solid 1px;
        font-size: 17px;
        color: #333;
        padding: 20px 10px;
        height: 50px;
        font-weight: 300;
        outline: none;
        margin-bottom: 35px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .login_main .login_left .field_container input:focus {
          -webkit-box-shadow: 0 1px 0px 0px #016ecb;
          box-shadow: 0 1px 0px 0px #016ecb;
          border-bottom: #016ECB solid 1px; }
      .login_main .login_left .field_container button {
        width: 100%;
        height: 65px;
        font-size: 18px;
        text-transform: uppercase;
        border: 0 none;
        border-radius: 8px;
        background-color: #016ECB;
        color: #fff;
        line-height: 60px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: 10px;
        outline: none;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.15); }
        .login_main .login_left .field_container button:hover {
          background: #035091 !important; }
        .login_main .login_left .field_container button:focus {
          -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5) !important;
          box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5) !important; }
  .login_main .login_right {
    width: 60%;
    float: right;
    position: relative;
    height: 100vh;
    background-image: url("../img/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .login_main .login_right .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(1, 110, 203, 0.8); }
    .login_main .login_right .login_logo {
      width: 350px;
      position: relative;
      z-index: 999; }
    .login_main .login_right .power_text {
      font-size: 15px;
      color: #fff;
      position: absolute;
      right: 2%;
      bottom: 2%; }
      .login_main .login_right .power_text span {
        font-weight: 100; }

::-webkit-input-placeholder {
  color: #ccc; }

::-moz-placeholder {
  color: #ccc; }

:-ms-input-placeholder {
  color: #ccc; }

:-moz-placeholder {
  color: #ccc; }
