html, body {
  font-family: "basic-sans",sans-serif !important; }

.box_size {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.img_fit, .navbar .menu_icon img, .pro_card .card_title .status_container .further_action img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-object-fit: contain; }

.h_center, .wiz_block .wiz_container, .wiz_block .wiz_container .wiz_area .wiz_no {
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

.v_center {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.hv_center {
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.field, .form-group input, .form-group select {
  font-style: 16px;
  color: #333;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: #ccc solid 1px;
  border-radius: 5px !important;
  height: 42px !important; }
  .field:focus, .form-group input:focus, .form-group select:focus {
    -webkit-box-shadow: 0px 0px 0px 1px #f07a4f;
    box-shadow: 0px 0px 0px 1px #f07a4f;
    border: #F07A4F solid 1px; }

main {
  padding: 20px; }

.comp_container {
  width: 100%;
  padding: 20px 20px;
  border: #ccc solid 2px;
  margin-bottom: 3%; }
  .comp_container h4 {
    margin-top: 0;
    margin-bottom: 30px; }

.navbar {
  width: 100%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.1); }
  .navbar .menu_icon {
    width: 35px;
    height: 35px;
    margin-right: 15px; }
  .navbar .main_title {
    width: 170px;
    line-height: 60px;
    color: #333;
    font-size: 20px;
    font-weight: 500; }
  .navbar .u_search_block input {
    width: 250px;
    margin-top: 2px;
    background-color: #F0F0F0;
    border: 0 none;
    font-size: 14px;
    color: #333;
    border-radius: 40px;
    outline: none;
    height: 40px;
    padding: 0px 20px 0px 45px;
    margin-right: 20px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 15px auto; }
    .navbar .u_search_block input::-webkit-input-placeholder {
      color: #ccc; }
    .navbar .u_search_block input::-moz-placeholder {
      color: #ccc; }
    .navbar .u_search_block input:-ms-input-placeholder {
      color: #ccc; }
    .navbar .u_search_block input:-moz-placeholder {
      color: #ccc; }
  .navbar .profile_container .profile_thumb {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #F07A4F;
    background-repeat: no-repeat;
    background-image: url(../img/thumb.svg);
    background-size: 18px auto;
    background-position: center;
    margin-top: 0px; }
  .navbar .profile_container .user_details {
    display: inline-block;
    margin-left: 8px; }
    .navbar .profile_container .user_details .admin_name {
      font-size: 16px;
      font-weight: 400;
      color: #333; }
    .navbar .profile_container .user_details .admin_role {
      font-size: 15px;
      font-weight: 300;
      color: #ccc; }

.dropdown-toggle::after {
  margin-left: 12px !important;
  vertical-align: 15px !important;
  color: #000;
  position: relative;
  top: 12px; }

.form-group label {
  font-size: 14px;
  color: #888;
  font-weight: 300; }

.form-group .con_field {
  position: relative;
  font-family: courier;
  padding-right: 50px; }

.form-group .con_btn {
  background-image: url("../img/field_edit.svg");
  background-repeat: no-repeat;
  background-size: 42px auto;
  background-position: right center;
  overflow: hidden;
  width: 42px;
  height: 40px;
  border: 0 none;
  position: absolute;
  top: 33px;
  right: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  cursor: pointer; }

.form-group select {
  -webkit-appearance: none;
  background-image: url("../img/down.svg");
  background-repeat: no-repeat;
  background-size: 10px auto;
  background-position: 95% center; }

.custom-checkbox {
  margin-top: 35px; }

.custom-control-input:checked ~ .custom-control-indicator {
  color: #fff;
  background-color: #F07A4F !important; }

.custom-checkbox .custom-control-indicator {
  border-radius: 50% !important; }

.btn {
  width: auto;
  min-width: 130px;
  height: 45px;
  border-radius: 5px !important;
  margin-top: 28px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.btn_small {
  width: 45px;
  min-width: 45px;
  background-image: url("../img/add.svg");
  background-repeat: no-repeat;
  background-size: 15px auto;
  background-position: center; }

.btn-primary {
  background-color: #F07A4F !important;
  border-color: #F07A4F !important; }
  .btn-primary:hover {
    background-color: #b3461f !important; }
  .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5) !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5) !important; }

.btn-secondary {
  background: transparent !important;
  border-color: #F07A4F !important;
  color: #F07A4F !important; }
  .btn-secondary:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5) !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5) !important; }

.wiz_block {
  width: 100%;
  text-align: center;
  margin: 30px 0px; }
  .wiz_block .wiz_container {
    width: 765px;
    position: relative; }
    .wiz_block .wiz_container .timeline {
      width: 620px;
      height: 1px;
      position: absolute;
      background-image: url("../img/1px.jpg");
      background-repeat: repeat-x;
      top: 15px;
      left: 70px; }
    .wiz_block .wiz_container .wiz_area {
      width: 150px;
      display: inline-block;
      margin-right: 50px; }
      .wiz_block .wiz_container .wiz_area:last-child {
        margin-right: 0px; }
      .wiz_block .wiz_container .wiz_area .wiz_no {
        width: 30px;
        height: 30px;
        background: #fff;
        border: #c4c4c4 solid 1px;
        color: #c4c4c4;
        font-weight: 600;
        text-align: center;
        border-radius: 50%;
        line-height: 30px;
        font-size: 14px;
        position: relative;
        margin-bottom: 15px; }
      .wiz_block .wiz_container .wiz_area .wiz_active {
        background: #fff;
        border: #F07A4F solid 1px;
        color: #F07A4F;
        border: #F07A4F solid 1px; }
      .wiz_block .wiz_container .wiz_area .wiz_done {
        background-color: #F07A4F;
        background-image: url("../img/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15px auto;
        border: #F07A4F solid 1px;
        color: #F07A4F; }
      .wiz_block .wiz_container .wiz_area .wiz_ttile {
        font-size: 18px;
        color: #c4c4c4;
        line-height: 30px;
        margin-left: 15px; }
      .wiz_block .wiz_container .wiz_area .wiz_title_active {
        color: #F07A4F !important; }

.left_panel {
  width: 250px;
  background-color: #000000;
  color: #808080;
  padding: 0px; }
  .left_panel .item a {
    color: #808080;
    padding: 15px 20px 15px 60px;
    display: block;
    font-size: 18px; }
    .left_panel .item a:hover {
      text-decoration: none !important; }
  .left_panel .item .item_active {
    background-color: #111;
    border-right: #F07A4F solid 5px;
    color: #fff; }
  .left_panel .item .collapse {
    background-color: #222; }
  .left_panel .item .inn_nav {
    padding-left: 15px;
    font-size: 16px; }
  .left_panel .item .left_menu_icon {
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: 20px center; }
  .left_panel .item .dash {
    background-image: url("../img/dash.svg"); }
  .left_panel .item .product {
    background-image: url("../img/products.svg"); }
  .left_panel .item .agreements {
    background-image: url("../img/agreement.svg"); }
  .left_panel .item .configuration {
    background-image: url("../img/configuration.svg"); }
  .left_panel .item .notifications {
    background-image: url("../img/notifications.svg"); }
  .left_panel .item .reports {
    background-image: url("../img/reports.svg"); }
  .left_panel .item .exeptions {
    background-image: url("../img/exeptions.svg"); }

.sort_panel {
  width: 200px; }
  .sort_panel .sort_content_block {
    width: 155px;
    background: #F5F5F5;
    padding: 10px;
    display: inline-block; }
    .sort_panel .sort_content_block .sort_tag {
      width: 100%;
      height: 40px;
      background: #E2E2E2;
      border: #ccc solid 1px;
      border-radius: 5px;
      line-height: 40px;
      color: #333;
      text-align: center;
      margin-bottom: 10px;
      font-size: 14px; }
      .sort_panel .sort_content_block .sort_tag:last-child {
        margin-bottom: 0px; }
    .sort_panel .sort_content_block .sort_tag_active {
      background: #F07A4F;
      color: #fff;
      border: #F07A4F solid 1px; }
  .sort_panel .sort_block {
    width: 40px;
    display: inline-block;
    float: right; }
    .sort_panel .sort_block .sort_btn {
      width: 100%;
      height: 40px;
      background-color: #F5F5F5;
      background-size: 12px auto;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 5px;
      border: 0 none;
      outline: none;
      cursor: pointer;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .sort_panel .sort_block .sort_btn:hover {
        background-color: #ddd; }
    .sort_panel .sort_block .sort_up {
      background-image: url("../img/sortup.svg"); }
    .sort_panel .sort_block .sort_down {
      background-image: url("../img/sortdown.svg"); }

.pro_card {
  width: 100%;
  height: 240px;
  background: #fff;
  border: #ccc solid 1px;
  border-radius: 5px;
  overflow: hidden; }
  .pro_card .card_title {
    width: 100%;
    background: #F5F5F5;
    height: 60px;
    border-bottom: #ccc solid 1px;
    padding: 2px 15px 5px; }
    .pro_card .card_title title {
      width: 100%;
      font-size: 20px;
      color: #333;
      font-weight: 500;
      display: block; }
    .pro_card .card_title .status_container {
      width: 100%;
      margin-top: 1px; }
      .pro_card .card_title .status_container .current_status {
        background-size: 10px auto;
        background-position: left 4px;
        background-repeat: no-repeat;
        font-size: 14px;
        color: #888;
        padding-left: 16px;
        display: inline-block; }
      .pro_card .card_title .status_container .further_action {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-left: 10px;
        position: relative;
        top: -1px;
        cursor: pointer; }
      .pro_card .card_title .status_container .publish {
        background-image: url("../img/circle_green.svg"); }
      .pro_card .card_title .status_container .unpublish {
        background-image: url("../img/circle_grey.svg"); }
  .pro_card .card_content {
    width: 100%;
    padding: 15px;
    font-size: 17px; }
    .pro_card .card_content .card_type {
      color: #333;
      margin-bottom: 15px; }
      .pro_card .card_content .card_type span {
        color: #888; }
    .pro_card .card_content .counter_container {
      margin-bottom: 15px; }
      .pro_card .card_content .counter_container .counter_title {
        color: #888;
        display: inline-block; }
      .pro_card .card_content .counter_container .counter {
        width: 30px;
        height: 30px;
        display: inline-block;
        background: rgba(240, 122, 79, 0.3);
        color: #F07A4F;
        font-weight: 600;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        float: right; }

.main_container {
  width: 100%;
  padding: 20px 25px; }
  .main_container h4 {
    font-size: 18px;
    color: #333;
    font-weight: 600; }
  .main_container .row {
    margin-top: 2%; }
  .main_container .partners_block {
    margin-top: 2%; }
