$theme: #F07A4F;
$theme-dark: #000000;
$lightgrey: #F5F5F5;
$codeGreen: #0DA347;
$codeBlue: #1B63D6;


.h_center
{
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.v_center
{
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.hv_center
{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}

.img_fit
{
	width: 100%;
	height: 100%;
	object-fit: contain;
	-webkit-object-fit: contain;
}

.navbar
{
	position: fixed;
	top: 0;
	width: calc(100vw - 250px);
	left: 250px;
}

.left_panel
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
}

.content_container
{
	width: calc(100vw - 290px);
	margin-top: 20px;
	position: relative;
	left: 270px;
}

.formula_popup_overlay
{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	.formula_popup
	{
		width: 90%;
		height: calc(100vh - 100px);
		background: #fff;
		position: relative;
		@extend .hv_center;
		z-index: 999;
		padding: 20px;
		overflow: hidden;
		.popup_title
		{
			width: 100%;
			text-align: center;
			font-size: 25px;
			color: #333;
			font-weight: 600;
		}
		.popup_close
		{
			width: 30px;
			height: 30px;
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
			img
			{
				@extend .img_fit
			}
		}
		.formula_nav
		{
			position: inherit !important;
			top: 0;
			left: 0;
			width: 100%;
			background-color: $lightgrey;
			margin-top: 20px;
			box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
			.dropdown
			{
				position: inherit;
				margin-right: 20px;
			}
			.dropdown-menu
			{
				width: 100%;
			    left: 0px;
			    top: 49px;
			    border: 0 none;
    			border-radius: 0px;
    			background: #DDDDDD;
    			padding: 0;
    			height: 45px;
    			line-height: 45px;
    			.dropdown-item
    			{
    				display: inline-block;
    				width: auto;
    				min-width: 10%;
    				padding: 0 10px 0 10px;
    				&:hover
    				{
    					background: #ccc;
    				}
    				&:focus
    				{
    					color: #333;
    				}
    			}
    			.drop_icon
    			{
    				width: 18px;
    				height: 18px;
    				display: inline-block;
    				margin-right: 10px;
    				position: relative;
    				top: -1px;
    				img
    				{
    					@extend .img_fit
    				}
    			}
			}
		}
		.formula_content_container
		{
			width: 100%;
			height: calc(100vh - 350px);
			padding: 20px 0px 0px 0px;
			.formula_function_container
			{
				width: 20%;
				height: 100%;
				display: inline-block;
				.ff_block
				{
					position: static !important;
					overflow-y: auto;
					background: #fff;
					border: #ccc solid 1px;
					width: 100%;
					.formula_function_title
					{
						width: 100%;
						height: 50px;
						background: $lightgrey;
						color: #333;
						line-height: 50px;
						padding-left: 20px;
						font-size: 18px;
					}
					.item
					{
						a
						{
							font-size: 16px;
						}
						.inn_nav
						{
							font-size: 14px;
						}
						.item_active
						{
							background: #ddd;
							color: #333;
						}
						.collapse
						{
							background: #eee;
						}
						.scheduled
						{
							background-image: url('../img/date_grey.svg');
						}
						.amt
						{
							background-image: url('../img/amount.svg');
							background-size: 20px auto;
						    background-repeat: no-repeat;
						    background-position: 20px center;
						}
						.currency
						{
							background-image: url('../img/currency.svg');
						}
					}
				}
			}
			.formula_builder
			{
				width: 78%;
				display: inline-block;
				float: right;
				height: 100%;
				background: #fff;
				padding: 20px;
				font-family: courier;
				border: #ccc solid 1px;
				font-size: 16px;
				-webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.14);
				-moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.14);
				box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.14);
				.codeblue
				{
					color: $codeBlue;
				}
				.codegreen
				{
					color: $codeGreen;
				}
			}
		}
		.fomula_btn button
		{
			float: right;
		}
	}
}




