$theme: #016ECB;
$theme-dark: #18212E;
$red: #e91945;
$orange: #f68141;
$highlight-blue: #f1f4f8;

html,body
{
	font-family: "basic-sans",sans-serif !important;
}

.hv_center
{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}

.img_fit
{
	width: 100%;
	height: 100%;
	object-fit: contain;
	-webkit-object-fit: contain;
}

.box_size
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.login_main
{
	width: 100%;
	height: 100%;
	float: left;
	.login_left
	{
		width: 40%;
		float: left;
		height: 100vh;
		.field_container
		{
			width: 50%;
			position: relative;
			@extend .hv_center;
			input
			{
				width: 100%;
				border: 0 none;
				border-bottom: #ccc solid 1px;
				font-size: 17px;
				color: #333;
				padding: 20px 10px; 
				height: 50px;
				font-weight: 300;
				outline: none;
				margin-bottom: 35px;
				transition: all 0.3s;
				&:focus
				{
					box-shadow: 0 1px 0px 0px rgba(1,110,203,1);
					border-bottom: $theme solid 1px;
				}
			}
			button
			{
				width: 100%;
				height: 65px;
				font-size: 18px;
				text-transform: uppercase;
				border: 0 none;
				border-radius: 8px;
				background-color: $theme;
				color: #fff;
				line-height: 60px;
				font-weight: 400;
				letter-spacing: 1px;
				margin-top: 10px;
				outline: none;
				transition: all 0.3s;
			    -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.15);
				-moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.15);
				box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.15);
				&:hover
				{
					background: #035091 !important;
				}
				&:focus
				{
					box-shadow: 0 0 0 0 rgba(0,123,255,.5) !important;
				}
			}
		}
	}
	.login_right
	{
		width: 60%;
		float: right;
		position: relative;
		height: 100vh;
		background-image: url('../img/login_bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		.overlay
		{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(1,110,203,0.8);
		}
		.login_logo
		{
			width: 350px;
			position: relative;
			z-index: 999;
			@extend .hv_center;
			img
			{
				@extend .img_fit
			}
		}
		.power_text
		{
			font-size: 15px;
			color: #fff;
			position: absolute;
			right: 2%;
			bottom: 2%;
			span
			{
				font-weight: 100;
			}
		}
	}
}


::-webkit-input-placeholder 
{
  color: #ccc;
}
::-moz-placeholder 
{
  color: #ccc;
}
:-ms-input-placeholder 
{
  color: #ccc;
}
:-moz-placeholder 
{
  color: #ccc;
}






