<div class="basic-details">
	<sph-wizard active-block="1"></sph-wizard>
	<div class="row">
		<div class="col-sm-3">
			<div class="form-group">
				<label for="exampleFormControlInput1">Name</label>
				<input type="text" class="form-control" ng-model="vm.data.name" required>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="exampleFormControlSelect1">Type</label>
				<select class="form-control" id="exampleFormControlSelect1" ng-model="vm.data.type" required>
					<option value="Credit Transfer">Credit Transfer</option>
					<option value="Direct Debit">Direct Debit</option>
				</select>
			</div>
		</div>
		<div class="col-sm-3">
			<button ng-click="vm.saveDetails()" type="button" class="btn-bottom-corner btn btn-secondary">Next</button>
		</div>
	</div>
</div>