<div class="execution-rules">
        <sph-formula-builder show-dialog="vm.showForumulaBuilder" formula="vm.data.condition" formula-html="vm.data.conditionHtml"></sph-formula-builder>
        <sph-wizard active-block="4"></sph-wizard>
        <div class="row">
            <div class="col-3">
                <sph-sort-panel sort-list="vm.list" active-item="vm.data" ng-show="vm.list.length > 0"></sph-sort-panel>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Name</label>
                            <input type="text" class="form-control" ng-model="vm.data.name" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Condition</label>
                            <input type="text" class="form-control con_field" ng-model="vm.data.condition" required>
                            <button type="button" ng-click="vm.showForumulaBuilder=!vm.showForumulaBuilder" class="con_btn"></button>
                        </div>
                    </div>
                    <div class="colsm-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Action</label>
                            <input type="text" class="form-control" ng-model="vm.data.action" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Message</label>
                            <input type="text" class="form-control" ng-model="vm.data.message" required>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button ng-click="vm.saveDetails()" type="button" class="btn btn-primary btn_small"></button>
                    </div>
                </div>
                <button ng-click="vm.save()" type="button" class="btn-bottom-corner btn btn-secondary">Save</button>
            </div>
        </div>
</div>