<div class="summary">
    <div class="row">

        <div class="col-sm-3">
            <div class="pro_card">
                <div class="card_title box_size">
                    <title>NEFT</title>
                    <div class="status_container">
                        <div class="current_status unpublish">Unpublished</div>
                        <div class="further_action"><img src="img/publish.svg"></div>
                    </div>
                </div>
                <!-- card_title -->
                <div class="card_content box_size">
                    <div class="card_type"><span>Type:</span> Credit Transfer</div>
                    <div class="counter_container">
                        <div class="counter_title">Auth Rules</div>
                        <div class="counter">2</div>
                    </div>

                    <div class="counter_container">
                        <div class="counter_title">Validation Rules</div>
                        <div class="counter">3</div>
                    </div>

                    <div class="counter_container">
                        <div class="counter_title">Execution Rules</div>
                        <div class="counter">6</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="pro_card">
                <div class="card_title box_size">
                    <title>RTGS</title>
                    <div class="status_container">
                        <div class="current_status unpublish">Unpublished</div>
                        <div class="further_action"><img src="img/publish.svg"></div>
                    </div>
                </div>
                <!-- card_title -->
                <div class="card_content box_size">
                    <div class="card_type"><span>Type:</span> Credit Transfer</div>
                    <div class="counter_container">
                        <div class="counter_title">Auth Rules</div>
                        <div class="counter">2</div>
                    </div>

                    <div class="counter_container">
                        <div class="counter_title">Validation Rules</div>
                        <div class="counter">3</div>
                    </div>

                    <div class="counter_container">
                        <div class="counter_title">Execution Rules</div>
                        <div class="counter">6</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="pro_card">
                <div class="card_title box_size">
                    <title>IMPS</title>
                    <div class="status_container">
                        <div class="current_status unpublish">Unpublished</div>
                        <div class="further_action"><img src="img/publish.svg"></div>
                    </div>
                </div>
                <!-- card_title -->
                <div class="card_content box_size">
                    <div class="card_type"><span>Type:</span> Credit Transfer</div>
                    <div class="counter_container">
                        <div class="counter_title">Auth Rules</div>
                        <div class="counter">2</div>
                    </div>

                    <div class="counter_container">
                        <div class="counter_title">Validation Rules</div>
                        <div class="counter">3</div>
                    </div>

                    <div class="counter_container">
                        <div class="counter_title">Execution Rules</div>
                        <div class="counter">6</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="pro_card">
                <div class="card_title box_size">
                    <title>Intra-Bank</title>
                    <div class="status_container">
                        <div class="current_status unpublish">Unpublished</div>
                        <div class="further_action"><img src="img/publish.svg"></div>
                    </div>
                </div>
                <!-- card_title -->
                <div class="card_content box_size">
                    <div class="card_type"><span>Type:</span> Credit Transfer</div>
                    <div class="counter_container">
                        <div class="counter_title">Auth Rules</div>
                        <div class="counter">2</div>
                    </div>

                    <div class="counter_container">
                        <div class="counter_title">Validation Rules</div>
                        <div class="counter">3</div>
                    </div>

                    <div class="counter_container">
                        <div class="counter_title">Execution Rules</div>
                        <div class="counter">6</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">&nbsp;</div>
    <div class="row">

        <div class="col-sm-3">
            <div class="pro_card">
                <div class="card_title box_size">
                    <title>Salary</title>
                    <div class="status_container">
                        <div class="current_status unpublish">Unpublished</div>
                        <div class="further_action"><img src="img/publish.svg"></div>
                    </div>
                </div>
                <!-- card_title -->
                <div class="card_content box_size">
                    <div class="card_type"><span>Type:</span> Credit Transfer</div>
                    <div class="counter_container">
                        <div class="counter_title">Auth Rules</div>
                        <div class="counter">2</div>
                    </div>

                    <div class="counter_container">
                        <div class="counter_title">Validation Rules</div>
                        <div class="counter">3</div>
                    </div>

                    <div class="counter_container">
                        <div class="counter_title">Execution Rules</div>
                        <div class="counter">6</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="pro_card">
                <div class="card_title box_size">
                    <title>Split</title>
                    <div class="status_container">
                        <div class="current_status unpublish">Unpublished</div>
                        <div class="further_action"><img src="img/publish.svg"></div>
                    </div>
                </div>
                <!-- card_title -->
                <div class="card_content box_size">
                    <div class="card_type"><span>Type:</span> Credit Transfer</div>
                    <div class="counter_container">
                        <div class="counter_title">Auth Rules</div>
                        <div class="counter">2</div>
                    </div>

                    <div class="counter_container">
                        <div class="counter_title">Validation Rules</div>
                        <div class="counter">3</div>
                    </div>

                    <div class="counter_container">
                        <div class="counter_title">Execution Rules</div>
                        <div class="counter">6</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>