<div class="formula_popup_overlay" ng-show="vm.showDialog">
    <div class="formula_popup box_size">
        <div class="popup_title">Formula Builder</div>
        <div class="popup_close" ng-click="vm.showDialog=false;">
            <img src="img/popup_close.svg">
        </div>


        <nav class="navbar navbar-expand-lg navbar-light formula_nav">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            String Functions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" ng-click="vm.addFunction('Left(text, num_chars)')">
                                <div class="drop_icon">
                                    <img src="img/string.svg">
                                </div>
                            </a>
                            <a class="dropdown-item" ng-click="vm.addFunction('Right(text, num_chars)')">
                                <div class="drop_icon">
                                    <img src="img/left_align.svg">
                                </div>
                                Right
                            </a>
                            <a class="dropdown-item" ng-click="vm.addFunction('Mid(text, start_char, num_chars)')">
                                <div class="drop_icon">
                                    <img src="img/right_align.svg">
                                </div>
                                Mid
                            </a>
                            <a class="dropdown-item" ng-click="vm.addFunction('Contains(text, test)')">
                                <div class="drop_icon">
                                    <img src="img/right_align.svg">
                                </div>
                                Contains
                            </a>
                            <a class="dropdown-item" ng-click="vm.addFunction('Lowercase(text)')">
                                <div class="drop_icon">
                                    <img src="img/right_align.svg">
                                </div>
                                Lowercase
                            </a>
                            <a class="dropdown-item" ng-click="vm.addFunction('Uppercase(text)')">
                                <div class="drop_icon">
                                    <img src="img/right_align.svg">
                                </div>
                                Uppercase
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Date Functions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" ng-click="vm.addFunction('GetDayOfWeek(datetime)')">
                                <div class="drop_icon">
                                    <img src="img/convert.svg">
                                </div>
                                GetDayOfWeek
                            </a>
                            <a class="dropdown-item" ng-click="vm.addFunction('GetDayOfMonth(datetime)')">
                                <div class="drop_icon">
                                    <img src="img/date.svg">
                                </div>
                                GetDayOfMonth
                            </a>
                            <a class="dropdown-item" ng-click="vm.addFunction('GetHourOfDay(datetime)')">
                                <div class="drop_icon">
                                    <img src="img/date.svg">
                                </div>
                                GetHourOfDay
                            </a>
                            <a class="dropdown-item" ng-click="vm.addFunction('GetMinuteOfDay(datetime)')">
                                <div class="drop_icon">
                                    <img src="img/clock.svg">
                                </div>
                                GetMinuteOfDay
                            </a>
                            <a class="dropdown-item" ng-click="vm.addFunction('Now()')">
                                <div class="drop_icon">
                                    <img src="img/clock.svg">
                                </div>
                                Now()
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Advance Functions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" ng-click="vm.addFunction('Exists(text, master_data_api)')">
                                <div class="drop_icon">
                                    <img src="img/next.svg">
                                </div>
                                Exists
                            </a>
                            <a class="dropdown-item" ng-click="vm.addFunction('GetExchangeRate(amount, currency_code)')">
                                <div class="drop_icon">
                                    <img src="img/prev.svg">
                                </div>
                                GetExchangeRate
                            </a>
                            <a class="dropdown-item" ng-click="vm.addFunction('MasterDataCount(text, master_data_api)')">
                                <div class="drop_icon">
                                    <img src="img/validate.svg">
                                </div>
                                MasterDataCount
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="formula_content_container box_size">

            <div class="formula_function_container">

                <div id="exampleAccordion" data-children=".item" class="left_panel box_size ff_block">

                    <div class="formula_function_title box_size">Data</div>
                    <div class="item">
                        <a class="product left_menu_icon" data-parent="#exampleAccordion" ng-click="vm.addAttribute('Product')">
                            Product
                        </a>
                    </div>
                    <div class="item">
                        <a class="type left_menu_icon" data-parent="#exampleAccordion" ng-click="vm.addAttribute('Type')">
                            Type
                        </a>
                    </div>
                    <div class="item">
                        <a class="reference_id left_menu_icon" data-parent="#exampleAccordion" ng-click="vm.addAttribute('Reference-Id')">
                            Reference-ID
                        </a>
                    </div>
                    <div class="item">
                        <a class="scheduled left_menu_icon" data-parent="#exampleAccordion" ng-click="vm.addAttribute('Scheduled-On')">
                            Scheduled-On
                        </a>
                    </div>

                    <div class="item">
                        <a class="amt left_menu_icon collapsed" data-parent="#exampleAccordion" ng-click="vm.addAttribute('Amount')">
                            Amount
                        </a>
                    </div>

                    <div class="item">
                        <a class="currency left_menu_icon collapsed" data-parent="#exampleAccordion" ng-click="vm.addAttribute('Currency')">
                            Currency
                        </a>
                    </div>
                    <div class="item">
                        <a class="currency left_menu_icon collapsed" data-parent="#exampleAccordion" ng-click="vm.addAttribute('Remittance-Information')">
                            Remittance-Information
                        </a>
                    </div>
                    <div class="item">
                        <a class="currency left_menu_icon collapsed" data-parent="#exampleAccordion" ng-click="vm.addAttribute('Remittance-Key')">
                            Remittance-Key
                        </a>
                    </div>

                    <div class="item">
                        <a class="scheduled left_menu_icon collapsed" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion4"
                            aria-expanded="false" aria-controls="exampleAccordion4">
                            From
                        </a>
                        <div id="exampleAccordion4" class="" role="tabpanel" style="">
                            <a ng-click="vm.addAttribute('From.Id')">
                                <div class="inn_nav">ID</div>
                            </a>
                            <a ng-click="vm.addAttribute('From.Financial-Institution-Id')">
                                <div class="inn_nav">Financial-Institution-ID</div>
                            </a>
                            <a ng-click="vm.addAttribute('From.Processing-Unit-Id')">
                                <div class="inn_nav">Processing-Unit-Id</div>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <a class="scheduled left_menu_icon collapsed" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion5"
                            aria-expanded="false" aria-controls="exampleAccordion5">
                            To
                        </a>
                        <div id="exampleAccordion5" class="" role="tabpanel" style="">
                            <a ng-click="vm.addAttribute('To.Id')">
                                <div class="inn_nav">ID</div>
                            </a>
                            <a ng-click="vm.addAttribute('To.Financial-Institution-Id')">
                                <div class="inn_nav">Financial-Institution-ID</div>
                            </a>
                            <a ng-click="vm.addAttribute('To.Processing-Unit-Id')">
                                <div class="inn_nav">Processing-Unit-Id</div>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
            <!-- formula_function_container -->

            <div class="formula_builder box_size" id="editor" contenteditable>
            </div>
        </div>

        <div class="fomula_btn">
            <button ng-click="vm.saveQuery();vm.showDialog=false;" type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>