<nav class="navbar navbar-expand-lg navbar-light">

    <div class="navbar-brand main_title">{{vm.title}}</div>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="navbar-nav mr-auto mt-2 mt-lg-0"></div>
        <div class="form-inline my-2 my-lg-0">
            <div class="profile_container">
                <ul class="navbar-nav">
                    <li>
                        <div class="u_search_block">
                            <input type="search" placeholder="Search..." class="box_size">
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="profile_thumb"></div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="user_details">
                                <div class="admin_name">Soumya Ranjan</div>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Settings</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- profile_container -->
        </div>
    </div>
</nav>