<div id="exampleAccordion" data-children=".item" class="left_panel box_size">

    <div class="item">
        <a class="dash left_menu_icon collapsed" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1"
            aria-expanded="false" aria-controls="exampleAccordion1">
            Dashboard
        </a>
        <div id="exampleAccordion1" class="collapse" role="tabpanel" style="">
            <a href="#">
                <div class="inn_nav">Nav Example 1</div>
            </a>
            <a href="#">
                <div class="inn_nav">Nav Example 2</div>
            </a>
        </div>
    </div>

    <div class="item">
        <a class="item_active product left_menu_icon" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2"
            aria-expanded="true" aria-controls="exampleAccordion2">
            Products
        </a>
        <div id="exampleAccordion2" class="collapse show" role="tabpanel" style="">
            <a href="#">
                <div class="inn_nav" ng-click="vm.activeNav='Summary'" ui-sref="summary">Summary</div>
            </a>
            <a href="#">
                <div class="inn_nav" ng-click="vm.activeNav='New Product'" ui-sref="basic-details">New Product</div>
            </a>
        </div>
    </div>

    <div class="item">
        <a class="agreements left_menu_icon collapsed" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion3"
            aria-expanded="false" aria-controls="exampleAccordion3">
            Agreements
        </a>
        <div id="exampleAccordion3" class="collapse" role="tabpanel" style="">
            <a href="#">
                <div class="inn_nav">Nav Example 5</div>
            </a>
            <a href="#">
                <div class="inn_nav">Nav Example 6</div>
            </a>
        </div>
    </div>

    <div class="item">
        <a class="configuration left_menu_icon collapsed" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion4"
            aria-expanded="false" aria-controls="exampleAccordion4">
            Configuration
        </a>
        <div id="exampleAccordion4" class="collapse" role="tabpanel" style="">
            <a href="#">
                <div class="inn_nav">Nav Example 7</div>
            </a>
            <a href="#">
                <div class="inn_nav">Nav Example 8</div>
            </a>
        </div>
    </div>

    <div class="item">
        <a class="notifications left_menu_icon collapsed" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion5"
            aria-expanded="false" aria-controls="exampleAccordion5">
            Notifications
        </a>
        <div id="exampleAccordion5" class="collapse" role="tabpanel" style="">
            <a href="#">
                <div class="inn_nav">Nav Example 9</div>
            </a>
            <a href="#">
                <div class="inn_nav">Nav Example 10</div>
            </a>
        </div>
    </div>

    <div class="item">
        <a class="reports left_menu_icon collapsed" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion6"
            aria-expanded="false" aria-controls="exampleAccordion6">
            Reports
        </a>
        <div id="exampleAccordion6" class="collapse" role="tabpanel" style="">
            <a href="#">
                <div class="inn_nav">Nav Example 11</div>
            </a>
            <a href="#">
                <div class="inn_nav">Nav Example 12</div>
            </a>
        </div>
    </div>

    <div class="item">
        <a class="exeptions left_menu_icon collapsed" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion7"
            aria-expanded="false" aria-controls="exampleAccordion7">
            Exceptions
        </a>
        <div id="exampleAccordion7" class="collapse" role="tabpanel" style="">
            <a href="#">
                <div class="inn_nav">Nav Example 13</div>
            </a>
            <a href="#">
                <div class="inn_nav">Nav Example 14</div>
            </a>
        </div>
    </div>

</div>