<div class="sort_panel">
    <div class="sort_content_block box_size">
        <div class="sort_tag" ng-click="vm.active=$index;vm.sortActive()" ng-class="{'sort_tag_active':vm.active==$index}" ng-repeat="item in vm.sortList track by $index">{{item.name}}</div>
    </div>
    <div class="sort_block">
        <button class="sort_btn sort_up" ng-disabled="!vm.sortUpStatus" ng-click="vm.sortUp()"></button>
        <button class="sort_btn sort_down" ng-disabled="!vm.sortDownStatus" ng-click="vm.sortDown()"></button>
    </div>
</div>