<div class="wiz_block">
    <div class="wiz_container">
        <div class="timeline"></div>
        <div class="wiz_area">
            <div ng-class="{'wiz_active':vm.activeBlock==1,'wiz_done':vm.activeBlock>1}" class="wiz_no">{{vm.activeBlock==1 ? '1' : ''}}</div>
            <div ng-class="{'wiz_title_active':vm.activeBlock>=1}" class="wiz_ttile wiz_title_active">Basic Details</div>
        </div>
        <div class="wiz_area">
            <div ng-class="{'wiz_active':vm.activeBlock==2,'wiz_done':vm.activeBlock>2}" class="wiz_no">{{vm.activeBlock<=2 ? '2' : ''}}</div>
            <div ng-class="{'wiz_title_active':vm.activeBlock>=2}" class="wiz_ttile">Auth Rules</div>
        </div>
        <div class="wiz_area">
            <div ng-class="{'wiz_active':vm.activeBlock==3,'wiz_done':vm.activeBlock>3}" class="wiz_no">{{vm.activeBlock<=3 ? '3' : ''}}</div>
            <div ng-class="{'wiz_title_active':vm.activeBlock>=3}" class="wiz_ttile">Validation Rules</div>
        </div>
        <div class="wiz_area">
            <div ng-class="{'wiz_active':vm.activeBlock==4}" class="wiz_no">4</div>
            <div ng-class="{'wiz_title_active':vm.activeBlock==4}" class="wiz_ttile">Execution Rules</div>
        </div>
    </div>
</div>